{% extends 'base.html' %}

{% block content %}
<div class="mt-5">
    <h1>Add Flashcard</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="english_word">English Word</label>
            <input type="text" class="form-control" id="english_word" name="english_word" required>
        </div>
        <div class="form-group">
            <label for="polish_word">Polish Word</label>
            <input type="text" class="form-control" id="polish_word" name="polish_word" required>
        </div>
        <div class="form-group">
            <label for="level">Level</label>
            <input type="text" class="form-control" id="level" name="level" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Flashcard</button>
    </form>
</div>
{% endblock %}
