<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'flashcards/style.css' %}">
    <link rel="icon" href="{% static 'flashcards/fire.png' %}">
</head>
<body>
    <header>
        <img src="{% static 'flashcards/logo2.png' %}" alt="Logo" class="logo">
    </header>
    <div class="content">
        <div class="form-container">
            <h2>Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
    <footer>
        <img src="{% static 'flashcards/reviews.png' %}" alt="Reviews" class="reviews-image">
    </footer>
</body>
</html>
